body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0ee86; /* Black background */
    color: #020202; /* White text */
    line-height: 1.6;
}
header {
    text-align: center;
    padding: 2rem;
    background-color: #f0ee86; /* Shade of golden */
    color: #000; /* Black text */
}
main {
    padding: 1rem;
}
h1, h2 {
    color: #f0ee86; /* Shade of golden */
}
a {
    color: rgb(7, 7, 9);
    text-decoration: underline;
}

a:hover {
    color: rgb(78, 79, 47);
    text-decoration: none;
}
#gallery img, #gallery video {
    max-width: 100%;
    margin: 1rem 0;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #ffd500;
}
